@using BdHorasZero.Models.ViewModels;
@model GestoresFuncionariosVinculosViewModel

@{
    ViewData["Title"] = "Gestores";
    var gestor = ViewData["Gestor"] as GestoresModel;
}

<div class="text-center">
    <h1 class="display-4">Área do Gestor</h1>
    <p>Exibe para Gestores já cadastrados no banco da aplicação. 
        <br />Requisitos: Gestor cadastrado no banco da aplicação e Gestor com o Grupo montado</p>
</div>



<div class="d-flex justify-content-center">
    <div class="col-12 col-sm-11 col-md-10 col-lg-7 col-xl-6">
        <div class="table-responsive-sm">

            <div>
                <p class="fs-3">@gestor.NomeGrupo</p>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Funcionário</th>
                        <th scope="col" class="text-end">Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    @* tabela gerada pelo código contido em Site.js *@
                    <!-- o conteúdo deste tbody é oriundo de VinculosController.PesquisarFuncionario(), consultado dinamicamente por Site.js -->
                    @foreach (var funcionario in Model.Funcionarios)
                    {
                        <tr>
                            <td>@funcionario.NomeFuncionario</td>
                            <td class="text-end">Saldo aqui</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="d-grid gap-2">
            <a class="btn btn-primary" role="button" asp-controller="Vinculos" asp-action="EditarGrupo">Editar Grupo</a>
        </div>
    </div>
</div>
