@using BdHorasZero.Models.ViewModels;
@model GestoresFuncionariosVinculosViewModel

@{
    var gestor = ViewData["Gestor"] as GestoresModel;
    ViewData["Title"] = "Adicionar novos Funcionários ao Grupo";
}


<div class="d-flex justify-content-center">
    <div class="col-12 col-sm-11 col-md-10 col-lg-7 col-xl-6">
        <div class="table-responsive-sm">

            <div class="text-center">
                <h1 class="display-4">Área do Gestor</h1>
                <p>Espaço para montar um novo Grupo</p>
            </div>

                <p class="fs-4 text-center">@gestor.NomeGrupo</p>
            <form>

                <!-- campo adicionado para passar o IdGestor para o site.js, para adicionar à tabela html e gravar no banco -->
                <input id="IdGestor" value="@gestor.IdGestor" hidden>

                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Pesquisar Funcionário</label>
                    <input type="text" class="form-control" id="funcionarioInput" placeholder="Digite um nome ou matrícula. Origem: [TB_Funcionarios]">
                </div>

                <div class="d-grid gap-2">
                    <a class="btn btn-primary" role="button" id="adicionarBtn" data-bs-target="#modalAviso">Adicionar</a>
                </div>

                <!-- ;;;;;;;;;;;;;;;;;;;; MODAL: "...funcionário já pertence a um Grupo..." ;;;;;;;;;;;;;;;;;;;; -->
                <div id="modalAviso" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title fs-5">Aviso</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                            </div>
                            <div class="modal-body">
                                <p id="mensagemModal"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; MODAL ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; -->


                <table class="table table-hover" id="tabelaSelecionados">
                    <thead>
                        <tr>
                            <th scope="col">IdG</th>
                            <th scope="col">IdF</th>
                            <th scope="col">Matrícula</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Saldo</th>
                            <th scope="col">btnRemover</th>
                        </tr>
                    </thead>
                    <tbody>
                        @* tabela gerada pelo código contido em Site.js *@
                        <!-- o conteúdo deste tbody é oriundo de VinculosController.PesquisarFuncionario(), consultado dinamicamente por Site.js -->
                    </tbody>
                </table>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary" id="gravarBtn">Salvar alterações</button>
                    <a class="btn btn-danger" role="button" asp-controller="Vinculos" asp-action="EditarGrupo">Cancelar</a>
                </div>

            </form>

        </div>
    </div>
</div>