@using BdHorasZero.Models.ViewModels;
@model GestoresFuncionariosVinculosViewModel

@{
    ViewData["Title"] = "Edição de Grupo";
    var gestor = ViewData["Gestor"] as GestoresModel;
}


<div class="d-flex justify-content-center">
    <div class="col-12 col-sm-11 col-md-10 col-lg-7 col-xl-6">
        <div class="table-responsive-sm">

            <div class="text-center">
                <h1 class="display-4">Área do Gestor</h1>
                <p>Hub de opções para o Gestor</p>
            </div>




                <!-- diponibilizar um botão para renomear o grupo, talvez utilize Javascript para fazer isso -->
                @* <div class="mb-3"> *@
                @*     <label for="formGroupExampleInput" class="form-label">Nome do Grupo:</label> *@
                @*     <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" value="@gestor.NomeGrupo"> *@
                @* </div> *@

                @* <div class="d-flex justify-content-between"> *@
                @*     <div class="text-start fs-3">@gestor.NomeGrupo</div> *@
                @*     <div class="text-end"> *@
                @*         <a class="btn btn-primary" role="button" asp-controller="Gestores" asp-action="CadastrarGrupoGestores">Renomear Grupo</a></div> *@
                @* </div> *@


                @* <p class="fs-4 text-center">Seu Grupo:  / Seu ID: @gestor.IdGestor </p> *@

                <!-- campo adicionado para passar o IdGestor para o site.js, para adicionar à tabela html e gravar no banco -->
                <input id="IdGestor" value="@gestor.IdGestor" hidden>

                @* <div class="mb-3"> *@
                @*     <label for="formGroupExampleInput" class="form-label">Pesquisar Funcionário</label> *@
                @*     <input type="text" class="form-control" id="funcionarioInput" placeholder="Digite um nome ou matrícula. Origem: [TB_Funcionarios]"> *@
                @* </div> *@

                <div class="d-grid gap-2">
                    <!-- obs: a linha abaixo fazia o modal surgir mesmo adicionando o funcionário. Motivo: "data-bs-toggle..."-->
                    @* <a class="btn btn-primary" role="button" id="adicionarBtn" data-bs-toggle="modal" data-bs-target="#modalAviso">Adicionar</a> *@
                    @* <a class="btn btn-primary" role="button" id="adicionarBtn" data-bs-target="#modalAviso">Adicionar</a> *@
                    <a class="btn btn-secondary" role="button" id="" asp-controller="Gestores" asp-action="RenomearGrupo">Renomear Grupo</a>
                    <a class="btn btn-primary" role="button" id="" asp-controller="Vinculos" asp-action="AdicionarNovoFuncionario">Adicionar Funcionários</a>
                    <a class="btn btn-danger" role="button" id="" asp-controller="Vinculos" asp-action="RemoverFuncionario">Remover Funcionários</a>
                    <a class="btn btn-danger" role="button" id="" asp-controller="Gestores" asp-action="Index">Cancelar</a>
                </div>


        </div>
    </div>
</div>